[Unit]
Description=Central API Server
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/coder/Desktop/securegenai/server_api/main.py
WorkingDirectory=/home/coder/Desktop/securegenai/server_api
Restart=always
RestartSec=3

KillSignal=SIGTERM
TimeoutStopSec=5

StandardOutput=append:/home/coder/Desktop/securegenai/server_api/main_contral_api_service.log
StandardError=append:/home/coder/Desktop/securegenai/server_api/main_contral_api_service.log

[Install]
WantedBy=multi-user.target
